:root {
    --design-3d3-secondary-color: rgba(222, 164, 80, 1);
    --design-5d5-bg-color-0: rgba(232, 232, 232, 1);
    --design-6background-1: rgba(0, 2, 53, 1);
    --design-6background-2: rgba(172, 172, 172, 1);
    --design-6text-color-1: rgba(255, 255, 255, 1);
  }