*{
    margin:0;
    padding:0;
    overflow-x:hidden;
}


/*@media (prefers-color-scheme: dark) {
    body {
        background-color:rgb(86, 117, 130);
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color:rgb(86, 117, 130);
        color: white;
    }
}*/

body .background{
    position:absolute;
    width:100vw;
    
}

.main-container{
    /*background:#e3b587;*/
    height:100vh;
    display:flex;
    align-items:center;
}



.rightside{
    z-index:1;
    background:#456672;
    position:absolute;
    right:3vw;
    width:45vw;
    height:55vh;
    border-radius:50px;

    display:flex;
    justify-content:center;
    align-items:center;

}

.leftside{
    z-index:0;
    /*background:#314357;*/
    position:absolute;
    left:2vw;
    right:2vw;
    height:85vh;
    border-radius:80px;
}

img{
    height:fit-content;
    width:90%;
}
